@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,600&display=swap');


.heading{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column
}
.rows{
    margin: 8px;
}
.button{
    text-align: center;
    font-family: poppins;
    height: 62px;
    width: 62px;
    padding: 10 20px;
    border: 2px #000 solid;
    border-radius: 50%;
    background-color:#fff;    
}
.rows input{
    font-size: 20px;
    font-family: poppins;
    padding: 11px 5px;
    color :#5C3A00
}